/*
 * mdashboard.css: Marlin dashboard CSS styles
 */

.mUuid
{
	font-family: monospace;
}

div.mSection
{
	margin-bottom: 20px;
}

div.mUpdateTime
{
	font-size: small;
	width: 250px;
}

table.mDataTable
{
	font-size: small;
}

table.mDataTable tr
{
	vertical-align: top;
}

table.mDataTable th,
table.mDataTable td
{
	white-space: nowrap;
}

table.mDataTable td
{
	text-align: right;
}

/*
 * Zone state table
 */
table#mZoneStates
{
	width: 100%;
}

table#mZoneStates tr
{
	vertical-align: middle;
}

div.mZoneStateB { background-color: #000000 }
div.mZoneStateD { background-color: #cc0000 }
div.mZoneStateR { background-color: #ffffff }
div.mZoneStateU { background-color: #ffff00 }

div.mZoneRow
{
	text-align: left;
	line-height: 10px;
	height: 10px;
}

div.mZoneRow *
{
	border-top: 1px #cccccc solid;
	border-right: 1px #cccccc solid;
	border-bottom: 1px #cccccc solid;
	width: 10px;
	height: 10px;
	display: inline-block;
}

div.mZoneRow :first-child
{
	border-left: 1px #cccccc solid;
}

div.mZoneRow *:hover
{
	border: 1px #000000 solid;
	cursor: pointer;
}

div.mZoneStateLegend
{
	margin-top: 10px;
	margin-left: 50px;
}

div.mZoneStateLegend td
{
	padding-left: 10px;
	padding-right: 10px;
}
